<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
    <h2>Welcome to homepage. Hey this is django project.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, hic? Eaque magnam vel expedita in amet vitae cum molestiae, numquam incidunt nam ad non omnis fugiat sit deleniti eos obcaecati. Aliquam ex ea quos quibusdam, eius inventore eveniet corporis corrupti est, voluptatibus maxime laborum quam ab id accusamus porro ratione dolor nesciunt in reiciendis nulla autem facere? Aspernatur, dignissimos maiores?</p>
</body>
</html>