<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>knn</title>
</head>
<body>
    <h3>K- nearest</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, magnam facere deleniti quidem fugiat ut voluptatem sed ab dolorem maiores, sint amet molestias eligendi labore odio deserunt. Quidem, provident beatae nihil dolorem cumque dignissimos eius facilis, omnis quae vel enim. Numquam maxime sunt ipsum quos architecto et quibusdam non ea?</p>
</body>
</html>