<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    <link rel="stylesheet" href="{% static './css/blog1.css' %}">
</head>
<body>
    <h4>This is my first blog.</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium odio nihil possimus, aperiam omnis expedita. Atque quo itaque eligendi placeat ipsam, ratione vero, consequuntur magnam accusamus impedit eaque accusantium sit.</p>
    <img src="{% static './images/blog/Blog-intro.webp' %}" alt="blog">
</body>
</html>