<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>deep learning</title>
    <link rel="stylesheet" href="{% static './css/dpl.css' %}">
</head>
<body>
    <h2>This is deep learning platform.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero harum odio voluptate doloremque nostrum tempore distinctio eum pariatur modi itaque fuga possimus exercitationem deserunt adipisci animi molestiae id atque quae ex error nisi quasi rerum, laborum excepturi! Ex asperiores perspiciatis, blanditiis ipsa quis, nulla aut error doloribus maxime pariatur a?</p>
</body>
</html>